@use '~@angular/material' as mat;

$apollo-black-primary: mat.define-palette(mat.$grey-palette, 700, 300, 900);
$apollo-black-accent: mat.define-palette(mat.$blue-grey-palette, 400);
$apollo-black-warn: mat.define-palette(mat.$red-palette, 500);

$apollo-black-theme: mat.define-dark-theme(
  $apollo-black-primary,
  $apollo-black-accent,
  $apollo-black-warn
);
