@use '~@angular/material' as mat;

$apollo-primary: mat.define-palette(mat.$indigo-palette, 800, 300, 900);
$apollo-accent: mat.define-palette(mat.$light-blue-palette);
$apollo-warn: mat.define-palette(mat.$pink-palette, 600);

$apollo-theme: mat.define-light-theme($apollo-primary, $apollo-accent, $apollo-warn);
