@use '~@angular/material' as mat;

$apollo-nature-primary: mat.define-palette(mat.$brown-palette, 700, 300, 900);
$apollo-nature-accent: mat.define-palette(mat.$deep-purple-palette, 300);
$apollo-nature-warn: mat.define-palette(mat.$red-palette, 600);

$apollo-nature-theme: mat.define-light-theme(
  $apollo-nature-primary,
  $apollo-nature-accent,
  $apollo-nature-warn
);
