<div class="gallery-container">
  <div class="gallery-header">{{ 'apollo.menu.photoGallery.header' | translate }}</div>
  <div class="photo-list row">
    <div class="col-md-2"><!--Ads go here--></div>
    <div class="col-md-8 main-body">
      <div class="row remove-margin-padding">
        <div class="col-md-4 remove-margin-padding" (click)="goToPhotoView('../../../../assets/gallery-img/castle22.JPG')">
          <img class="photo-item" src="../../../../assets/gallery-img/castle22.JPG"/>
        </div>
        <div class="col-md-4 remove-margin-padding">
          <img class="photo-item" src="../../../../assets/gallery-img/downtown01.JPG"/>
        </div>
        <div class="col-md-4 remove-margin-padding">
          <img class="photo-item" src="../../../../assets/gallery-img/downtown02.JPG"/>
        </div>
      </div>
      <div class="row remove-margin-padding">
        <div class="col-md-4 remove-margin-padding">
          <img class="photo-item" src="../../../../assets/gallery-img/GGB03.JPG"/>
        </div>
        <div class="col-md-4 remove-margin-padding">
          <img class="photo-item" src="../../../../assets/gallery-img/GGBBGGFL02.JPG"/>
        </div>
        <div class="col-md-4 remove-margin-padding">
          <img class="photo-item" src="../../../../assets/gallery-img/holyplace1-ins.JPG"/>
        </div>
      </div>
      <div class="row remove-margin-padding">
        <div class="col-md-4 remove-margin-padding">
          <img class="photo-item" src="../../../../assets/gallery-img/icecream.JPG"/>
        </div>
        <div class="col-md-4 remove-margin-padding">
          <img class="photo-item" src="../../../../assets/gallery-img/wheretofindhim.JPG"/>
        </div>
        <div class="col-md-4 remove-margin-padding">
          <img class="photo-item" src="../../../../assets/gallery-img/zaohua.JPG"/>
        </div>
      </div>
      <div class="row remove-margin-padding">
        <div class="col-md-4 remove-margin-padding">
          <img class="photo-item" src="../../../../assets/gallery-img/wonderland.JPG" height="1000" width="667"/>
        </div>
        <div class="col-md-4 remove-margin-padding">
          <img class="photo-item" src="../../../../assets/gallery-img/golden%20gate%20bridge%2019_.JPG"/></div>
        <div class="col-md-4 remove-margin-padding">
          <img class="photo-item" src="../../../../assets/gallery-img/glasses.JPG"/>
        </div>
      </div>
      <div class="row remove-margin-padding">
        <div class="col-md-4 remove-margin-padding">
          <img class="photo-item" src="../../../../assets/gallery-img/in%20my%20dream.JPG" height="1000" width="667"/>
        </div>
        <div class="col-md-4 remove-margin-padding">
          <img class="photo-item" src="../../../../assets/gallery-img/ye.JPG"/></div>
        <div class="col-md-4 remove-margin-padding">
          <img class="photo-item" src="../../../../assets/gallery-img/fishes-1.jpg"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 remove-margin-padding"></div>
        <div class="col-md-4 remove-margin-padding"></div>
        <div class="col-md-4 remove-margin-padding"></div>
      </div>
      <div class="row">
        <div class="col-md-4 remove-margin-padding"></div>
        <div class="col-md-4 remove-margin-padding"></div>
        <div class="col-md-4 remove-margin-padding"></div>
      </div>
    </div>
    <div class="col-md-2"><!--Ads go here--></div>

    <!--
    I have to figure out a way to exclude actual images from repo content, git commit should never push my local
    private images

    -->
    <img src="C:\Users\jacob\OneDrive\Desktop\3.jpg" alt="">

  </div>
</div>
